.box {
    width: 200px;
    height: 200px;
    outline: 4px solid greenyellow;
    font-size: 140px;
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    padding-bottom: 5px;
}

#gameboard{
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    width: 610px;
    margin:0px;
    position: absolute;
    left: 13%;
    top: 7%;
}

#scoreboard{
    float: right;
    background-color: greenyellow;
    height: 98vh;
    width: 30vw;
    text-align: center;
}

#buttonbelow{
    position:relative;
    height:400px
}

#restart{
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    margin:0px;
    position: absolute;
    left: 26%;
    top:95%;
}

#score{
    flex-wrap: wrap;
}

#teams{
    flex-wrap: wrap;
}

form{
    flex-wrap: wrap;
    text-align: center;
    width: 45%;
}

#right-player{
    float: right;
}

#left-player{
    float: left;
}

body{
    background-image: url("https://i.warosu.org/data/tg/img/0285/66/1385773164423.png");
}